<h1>Hot Weather Widget</h1>
<div *ngIf="places" class="element">
  <div class="element-left">
    <course-widget-main [places]="places"></course-widget-main>
  </div>
  <div class="element-right">
    <course-widget-weather></course-widget-weather>
    <course-widget-social></course-widget-social>
  </div>
  <div class="clear"> </div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>




