<ng-container *ngIf="places">
  <h1>Hot Weather Widget</h1>
  <div class="element">
    <div class="element-left">
      <course-widget-main [hotel]="places[0].place_info" [placeTypes]="placeTypes$ | async" (changePlace)="changePlace($event)"></course-widget-main>
    </div>
    <div class="element-right">
      <course-widget-weather [weather]="places[0].weather"></course-widget-weather>
      <course-widget-info [social]="places[0].social_info"></course-widget-info>
    </div>
    <div class="clear"> </div>
  </div>
  <div class="copy-right">
    <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
  </div>
</ng-container>



